source-code/Windows/ffmpeg/** filter=lfs diff=lfs merge=lfs -text
source-code/MacOS/src/Brave-Browser/** filter=lfs diff=lfs merge=lfs -text
source-code/Windows/Brave-Browser/** filter=lfs diff=lfs merge=lfs -text